__pycache__/
.idea/
*/layout_xxxxxx.txt
*/log_create_data_for_3d_visualization.txt
*/log_create_multilayer_3d_network_data.txt
*/log_create_traces_for_network_layt.txt
*/log_create_traces_for_network_multilayer_layt_after_pillar.txt
*/log_create_traces_for_network_multilayer_pillar.txt
*/log_KEY_multilayer_3d_network.txt
*/log_locate_nodes_to_layers.txt
*/log_multiple_traces.txt
*/log_multiple_traces_layt.txt
*/log_nx.txt
*/log_read_data_for_multilayer_3d_network.txt
*/log_xxx.txt
*/logx.txt
*/noclass_inchikey_inchi.txt
*/node_info.txt
*/quant_process.tsv
*/read_external_cmpd_info.txt
*/sssssssssssssssssss.txt
*.log
