{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}SNV | {% block head_title %}{% endblock %}
{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'account/css/account.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
{% block head_account %}{% endblock %}
{% endblock %}

{% block page_header %}
<header id="page-header" class="account-page">
    <div class="header-item">
        <a class="link-to-top" href="{% url 'visualizer:spectral_network' %}">Visualizer</a>
    </div>
    <div class="header-item">
        {% if user.is_authenticated %}
        <form id="header-logout-form" method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            <button class="signout" type="submit">Sign out</button>
        </form>
        {% endif %}
    </div>
</header>
{% endblock %}

{% block contents %}
<div id="account-content">{% block account_content %}{% endblock %}</div>
<script type="text/javascript" src="{% static 'account/js/utils.js' %}"></script>
{% block scripts %}{% endblock %}
{% endblock %}
