{% extends "account/base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block account_content %}
<h1>{% trans "Change Password" %}</h1>
<div class="form-container">
    <form id="password-change-form" method="POST" action="{% url 'account_change_password' %}" class="password_change account-form">
        {% csrf_token %}
        {% if form.non_field_errors %}
        <div class="message-container">
            <ul class="messages">
                {% for error in form.non_field_errors %}
                    <li class="message error">
                        <p>{{ error }}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        {% for field in form %}
        <div class="label-input-container-f">
            <label>{{ field.label }}</label>
            <div class="input-message-container">
                {{ field }}
                {{ field.errors }}
            </div>
        </div>
        {% endfor %}

        <div class="submit-container">
            <button type="submit" name="action">{% trans "Change Password" %}</button>
        </div>
    </form>
</div>
{% endblock %}
