{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block account_content %}
<h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

{% if token_fail %}
{% url 'account_reset_password' as passwd_reset_url %}
<p style="text-align: center;">{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
{% else %}

{% if form %}
<div class="form-container">
    <form id="password-reset-key-form" method="POST" action="{{ action_url }}" class="account-form">
        {% csrf_token %}
        {% if form.non_field_errors %}
        <div class="message-container">
            <ul class="messages">
                {% for error in form.non_field_errors %}
                    <li class="message error">
                        <p>{{ error }}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        {% for field in form %}
        <div class="label-input-container-f">
            <label>{{ field.label }}</label>
            <div class="input-message-container">
                {{ field }}
                {{ field.errors }}
            </div>
        </div>
        {% endfor %}

        <div class="submit-container">
            <button type="submit" name="action">{% trans "Change Password" %}</button>
        </div>
    </form>
</div>
{% else %}
<p style="text-align: center;">{% trans 'Your password is now changed.' %}</p>
{% endif %}
{% endif %}
{% endblock %}
