{% extends 'account/base.html' %}
{% load static %}
{% load i18n %}
{% load account %}

{% block title %}IMS2DB | Password Reset{% endblock %}

{% block account_content %}
<h1>{% trans "Password Reset" %}</h1>
{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}
<p style="text-align: center;">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
<div class="form-container">
    <form id="password-reset-form" method="POST" action="{% url 'account_reset_password' %}" class="password_reset account-form">
        {% csrf_token %}
        {% if form.non_field_errors %}
        <div class="message-container">
            <ul class="messages">
                {% for error in form.non_field_errors %}
                    <li class="message error">
                        <p>{{ error }}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        {% for field in form %}
        <div class="label-input-container-z">
            <label class="row-label">{{ field.label }}</label>
            <div class="input-message-container">
                {{ field }}
                {{ field.errors }}
            </div>
        </div>
        {% endfor %}

        <div class="submit-container">
            <button type="submit" name="action">{% trans 'Reset My Password' %}</button>
        </div>
    </form>
</div>
<p style="text-align: center;">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
{% endblock %}
