dask
django==3.1.2
django-allauth==0.51.0
django-debug-toolbar==3.2.2
django-environ==0.4.5
gunicorn
h5py
matplotlib
numexpr
networkx==2.5.1
numpy
pandas
plotly
psycopg2-binary
pyopenms
rdkit
scipy==1.6.2
whitenoise